name: build

on:
  push:
    tags:
      - "*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2

    - name: Install system dependencies
      run: |
        echo "deb http://archive.ubuntu.com/ubuntu jammy main universe" | sudo tee -a /etc/apt/sources.list
        sudo apt update
        sudo apt install -y libwebkit2gtk-4.0-dev \
            build-essential \
            curl \
            wget \
            file \
            libssl-dev \
            libgtk-3-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev \
            patchelf

    - name: Install NPM dependencies
      run: npm install

    - name: Build
      run: npm run tauri build -- -v

    - name: Prepare ZIP
      run: |
        cd src-tauri/target/release

        for lib in libicu* libxml2* libwebkit2gtk-* libjavascriptcoregtk-*; do
          for path in $(ldd gmpublisher | awk '{print $3}' | grep "$lib"); do
            cp -v "$path" .
          done
        done

        patchelf --set-rpath '$ORIGIN' gmpublisher

        zip -r gmpublisher_linux64.zip gmpublisher libsteam_api.so libwebkit2gtk-* libjavascriptcoregtk-* libicu* libxml2*

    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        files: src-tauri/target/release/gmpublisher_linux64.zip
        fail_on_unmatched_files: true
